@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-height: 100vh;
    background: linear-gradient(to right,#BF616A, #B48EAD,#5E81AC);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    position: relative;
    width: 35%;
    border-radius: 25px;
    border: 0.5px solid #333333;
    box-shadow: 10px 11px 20px -6px rgba(0,0,0,0.74);
    -webkit-box-shadow: 10px 11px 20px -6px rgba(0,0,0,0.74);
    -moz-box-shadow: 10px 11px 20px -6px rgba(0,0,0,0.74);
    overflow: hidden;
    text-align: right;
    margin-top: 30px;
}

.display{
    width: 100%;
    height: 20vh;
    background: #333;
    color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    outline: none;
}

.input {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    outline: none;
}

.with-border-radius-1 {
    border-bottom-left-radius: 25px;
    outline: none;
}

.with-border-radius-2 {
    border-bottom-right-radius: 25px;
    outline: none;
}

.output {
    font-size: 22px;
    padding-top: 60px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}

.result {
    font-size: 18px;
    padding: 25px;
}

.special-buttons {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    border: 0.5px solid #ddd;
    color:transparent;
}

.florida {
    background-image: url(./imgs/Florida.jpg);
}

.aldana {
    background-image: url(./imgs/Aldana.jpg);
}

.valencia {
    background-image: url(./imgs/Valencia.jpg);
}

.berlin {
    background-image: url(./imgs/Berlín.jpg);
}

.mica {
    background-image: url(./imgs/Mica.jpg);
}

.adelfa {
    background-image: url(./imgs/Adelfa.jpg);
}

.tali {
    background-image: url(./imgs/Tali.jpg);
}

.olivia {
    background-image: url(./imgs/Olivia.jpg);
}

button {
    border: none;
    background: black;
    color: white;
    padding: 1.6rem;
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    font-weight: bold;
}

@keyframes big {
    0% {
        font-size: 18px;
    }
    100% {
        font-size: 30px;
    }
}

@keyframes small {
    0% {
        font-size: 28px;
    }
    100% {
        font-size: 18px;
    }
}


@media only screen and (max-width: 1200px) {
    .calculator {
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    }
    .special-buttons {
    height: 140px;
    }
}

@media only screen and (max-width: 992px) {
    .calculator {
    width: 65%;
    margin-top: 20px;
    margin-bottom: 20px;
    }
    .special-buttons {
    height: 120px;
    }
}

@media only screen and (max-width: 768px) {
    .calculator {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    }
    .special-buttons {
    height: 100px;
    }
}

@media only screen and (max-width: 576px) {
    .calculator {
    width: 95%;
    margin-top: 20px;
    margin-bottom: 20px;
    }
    .special-buttons {
    height: 90px;
    }
}